:root {
    --contrast-color: #87997d;
}

body {
    text-align: center;
    font-family: "EB Garamond", serif;
    font-size: 16px;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.items {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.item {
    margin: 8px 16px;
}

.spacer {
    height: 24px;
}

.center-in-screen {
    width: 100%;
    height: 100vh;
}

.icon-link {
    display: flex;
    justify-content: center;
}

.icon-link .material-symbols-outlined {
    margin-right: 5px;
}

/* MailerLite embed */
.ml-form-embedBody.ml-form-embedBodyHorizontal.row-form {
    padding-top: 0px !important;
}

.ml-form-formContent.horozintalForm {
    padding-bottom: 8px !important;
}

.ml-form-successContent p {
    font-family: "EB Garamond", serif !important;
    font-size: 16px !important;
    font-weight: bold !important;
}