a {
    color: var(--contrast-color);
}

a:hover {
    color: #7a6661;
}

.item {
    margin: 4px 16px;
}

h1 {
    font-size: 40px;
    margin: 16px 16px 8px 16px;
    font-weight: bold;
}

.site-subtitle {
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin-top: -4px;
    margin-bottom: 16px;
}

.two-col-break {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}

.two-col-break .items {
    width: 100%;
    max-width: 532px;
}

.about-me-text {
    font-size: 20px;
    width: calc(100% - 32px);
    max-width: 500px;
    text-align: start;
    text-indent: 40px;

    padding-top: 16px;
    border-top: 5px solid var(--contrast-color);
}

.about-me-text p {
    margin-top: 8px;
}

@media (min-width: 800px) {
    .two-col-break {
        flex-direction: row;
        height: 100%;
        justify-content: center;
    }

    /* Reset spacer and change it to vertical */
    .about-me-text {
        padding-top: 0px;
        border-top: none;
        text-indent: 0px;
    }

    .two-col-break .items {
        border-left: 5px solid var(--contrast-color);
        padding-left: 16px;
    }
}

/* MailerLite embed */
.ml-form-embedBody.ml-form-embedBodyHorizontal.row-form {
    padding-top: 4px !important;
}